<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ccst.mapper.UserMapper">


    <insert id="addUser">
        INSERT INTO tb_user
        VALUES
                (#{id} ,#{name} ,#{password}, #{type} );
    </insert>
    <insert id="addUser1">
        insert into tb_user
    </insert>


    <update id="resetUserPass">
        UPDATE
            tb_user
        SET
            PASSWORD = ‘123456’
    </update>


    <update id="modUserPassword">
        UPDATE
            tb_user
        SET
            PASSWORD = #{password}
        where
            id = #{id}
    </update>


    <delete id="delUser">
        DELETE
        FROM
            tb_user
        WHERE
            id = #{id}
    </delete>


    <select id="queryUserById" resultType="User">
        SELECT
            *
        FROM
            tb_user
        WHERE
            id = #{id}
    </select>
    <select id="queryUserByName" resultType="User">
        select * from tb_user where name=#{name}
    </select>
    <select id="getAllIdCount" resultType="java.lang.Integer">
        select * from tb_user
    </select>


</mapper>